/* _content/App/Views/Home/CreateAccount.cshtml.rz.scp.css */
body[b-q1ixy0yke1] {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main[b-q1ixy0yke1] {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk[b-q1ixy0yke1] {
  display: none;
}
.signup[b-q1ixy0yke1] {
  position: relative;
  width: 100%;
  height: 100%;
}
label[b-q1ixy0yke1] {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input[b-q1ixy0yke1] {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button[b-q1ixy0yke1] {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover[b-q1ixy0yke1] {
  background: #6d44b8;
}
.login[b-q1ixy0yke1] {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label[b-q1ixy0yke1] {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login[b-q1ixy0yke1] {
  transform: translateY(-500px);
}
#chk:checked ~ .login label[b-q1ixy0yke1] {
  transform: scale(1);
}
#chk:checked ~ .signup label[b-q1ixy0yke1] {
  transform: scale(0.6);
}
/* _content/App/Views/Home/Login.cshtml.rz.scp.css */
body[b-nj187q67tx] {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main[b-nj187q67tx] {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk[b-nj187q67tx] {
  display: none;
}
.login[b-nj187q67tx] {
  position: relative;
  width: 100%;
  height: 100%;
  color: #573b8a;
}
label[b-nj187q67tx] {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input[b-nj187q67tx] {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button[b-nj187q67tx] {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover[b-nj187q67tx] {
  background: #6d44b8;
}
.signup[b-nj187q67tx] {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.signup label[b-nj187q67tx] {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .signup[b-nj187q67tx] {
  transform: translateY(-500px);
}
#chk:checked ~ .signup label[b-nj187q67tx] {
  transform: scale(1);
}
#chk:checked ~ .login label[b-nj187q67tx] {
  transform: scale(0.6);
}
/* _content/App/Views/Home/Profile.cshtml.rz.scp.css */
body[b-k7dl0mu196] {
  background: rgb(99, 39, 120);
}

.form-control:focus[b-k7dl0mu196] {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button[b-k7dl0mu196] {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover[b-k7dl0mu196] {
  background: #682773;
}

.profile-button:focus[b-k7dl0mu196] {
  background: #682773;
  box-shadow: none;
}

.profile-button:active[b-k7dl0mu196] {
  background: #682773;
  box-shadow: none;
}

.back:hover[b-k7dl0mu196] {
  color: #682773;
  cursor: pointer;
}

.labels[b-k7dl0mu196] {
  font-size: 11px;
}

.add-experience:hover[b-k7dl0mu196] {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
/* _content/App/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-78367sr58w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-78367sr58w] {
  color: #0077cc;
}

.btn-primary[b-78367sr58w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-78367sr58w], .nav-pills .show > .nav-link[b-78367sr58w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-78367sr58w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-78367sr58w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-78367sr58w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-78367sr58w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-78367sr58w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/App/Views/Shared/_MyLayout.cshtml.rz.scp.css */
.toto[b-h2daim7ygw] {
    color: red;
}
