@{
    ViewData["Title"] = "Home Page";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Paramètres de profil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Prenom</label><input type="text" class="form-control" placeholder="Prenom" value=""></div>
                    <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" value="" placeholder="Nom"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5"><label class="labels">Date de naissance</label><input type="text" class="form-control" placeholder="" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="entrer votre mail" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Changer le mot de passe</label><input type="text" class="form-control" placeholder="" value=""></div>
                    <div class="col-md-6"><label class="labels">Confirmer le mot de passe</label><input type="text" class="form-control" value="" placeholder=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Pays</label><input type="text" class="form-control" placeholder="Pays" value=""></div>
                    <div class="col-md-6"><label class="labels">État/Région</label><input type="text" class="form-control" value="" placeholder="État/Région"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Sauvegarder le Profil</button></div>
            </div>
        </div>
       
        </div>
    </div>
</div>
